[submodule "dwave-system"]
	path = dwave-system
	url = https://github.com/dwavesystems/dwave-system
[submodule "dwave-networkx"]
	path = dwave-networkx
	url = https://github.com/dwavesystems/dwave_networkx
[submodule "dwave-hybrid"]
	path = dwave-hybrid
	url = https://github.com/dwavesystems/dwave-hybrid
