pydata-sphinx-theme==0.14.3
sphinx==7.3.7
sphinx-design==0.5.0
sphinx-copybutton==0.5.0
sphinx-hoverxref==1.4.2
reno[sphinx]==3.3.0
numpy<2.0

# needed for some of the examples
matplotlib

# Needed for minorminer C docs
breathe

# Needed to test Jupyter notebooks in the downloadable directory
notebook==6.4.11

# Needed for dwave-gate
cgen==2020.1

# needed in docs.conf to parse package versions
packaging
