pydata-sphinx-theme==0.14.3
sphinx==7.2.6
sphinx-design==0.5.0
sphinx-copybutton==0.5.0
reno[sphinx]==3.3.0

# needed for some of the examples
matplotlib

# Needed for minorminer C docs
breathe

# needed in docs.conf to parse package versions
packaging
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
